header {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    273deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(50, 89, 217, 1) 13%,
    rgba(41, 74, 187, 1) 50%,
    rgba(53, 102, 133, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}

#today {
  padding: 10px;
  height: 200px;
  justify-content: space-around;
}

#today h2 {
  font-weight: bold;
}

#forecast {
  width: 100%;
}

#forecast h4 {
  font-weight: bold;
}

.box-container {
  justify-content: space-between;
}

.forecast-box {
  width: 180px;
  height: 220px;
  justify-content: space-around;
  align-items: flex-start;
  padding-left: 10px;
  background-color: #213b50;
  color: white;
}

.forecast-date {
  font-size: 1.2rem;
  font-weight: bold;
}

.forecast-temp,
.forecast-wind,
.forecast-humidity {
  font-size: 1.1rem;
}

.weather-search {
  width: 100%;
  padding: 10px;
}

.search-button {
  background-color: #7aabff !important;
  margin: 15px 0;
}

.search-button:hover {
  background-color: #9ab7e9 !important;
}

.input-group * {
  width: 100%;
}
